<section id="about" class="transwhite">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2>&Uuml;ber uns</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="txtabout">
                    Der SC AufRuhr e.V. ist der schwul-lesbische Sportverein im Ruhrgebiet. Im Jahr 1991 gegründet,
                    bietet er heute mehr als 230 Mitgliedern Sportarten wie Volleyball, Badminton, Basketball,
                    Schwimmen, Fußball, Bowling, Radfahren, Tischtennis und Tanzen.

                    Damit gehört der SC AufRuhr e.V. zu den aktivsten und attraktivsten Sportvereinen für Schwule und
                    Lesben in Deutschland.
                    <br><br>
                    <h3>Postadresse</h3>
                    <p>
                       SC AufRuhr e. V.<br>
                       c/o Aidshilfe Bochum e.V.<br>
                       Große Beckstr. 12<br>
                       44787 Bochum<br>
                       <p><b><a href="mailto:Vorstand@sc-aufruhr.de">E-Mail Kontakt zum Verein</a></b></p>
                    </p>
                      <h3>{{ site.footer.social }}</h3>
                       <ul class="list-inline">
                        {% for network in site.social %}
                        <li>
                        <a href="{{ network.url }}" class="btn-social btn-outline">
                        <i class="fa fa-{{ network.title }}"></i>
                        </a>
                        </li>
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <!--
                <img class="img-centered img-responsive" src="//placehold.it/720x600" alt="aboutus bild">
                -->
                <br>
                <br>

            </div>
        </div>
    </div>
    </div>
</section>
