<div class="portfolio-modal modal fade" id="modal-termine" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Vereinskalender</h2>
                        <hr class="star-primary">
                        <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=514pm2ppc64d5mii3evac5efv8%40group.calendar.google.com&amp;color=%23711616&amp;src=tvib5ni0r033q7t8r0lkd4f9ik%40group.calendar.google.com&amp;color=%23AB8B00&amp;src=olav_knull%40gmx.net&amp;color=%235F6B02&amp;ctz=Europe%2FBerlin"
                                style="border-width:0" width="100%" height="480" frameborder="0"
                                scrolling="no"></iframe>
                        <p>&nbsp;</p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">
                            zur&uuml;ck
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>