<div class="portfolio-modal modal fade" id="modal-termine" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Vereinskalender</h2>
                        <hr class="star-primary">
                        <iframe src="https://calendar.google.com/calendar/embed?src=scarcalen%40gmail.com&ctz=Europe/Berlin"
                                style="border-width:0" width="100%" height="480" frameborder="0"
                                scrolling="no"></iframe>
                        <p>&nbsp; *Kein Training während der NRW Schulferien</p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">
                            zur&uuml;ck
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
