<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!--##############   minilogo/brand:   ##################-->
            <!--
                <a href="#page-top" class="pull-left minilogo">
                    <img src="/img/minilogo.png" alt="sc aufruhr minilogo">
                </a>
             -->
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                <li class="hidden">
                    <a href="#page-top">{{ site.title }}</a>
                </li>

                <a href="#page-top" class="pull-left minilogo">
                    <img src="/img/minilogo.png" alt="sc aufruhr minilogo">
                </a>

                <li class="page-scroll">
                    <a href="#about">ÜBER&nbsp;UNS</a>
                </li>
                
                <li class="page-scroll">
                    <a href="https://www.facebook.com/SCAufRuhr" target="_blank">NEWS</a>
                </li>

                <li class="page-scroll">
                    <a href="#sports">SPORTARTEN</a>
                </li>
                <li class="page-scroll">
                    <a href="#dates">TERMINE</a>
                </li>
                <li class="page-scroll">
                    <a href="#championships">TURNIERE</a>
                </li>
                <li class="page-scroll">
                    <a href="#sponsoring">AufRuhrCard</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">KONTAKT</a>
                </li>
                <li class="page-scroll">
                    <a href="#sponsoring">Sponsoren</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
