<section id="dates" class="transwhite">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 text-center">
                <h2>N&auml;chste Termine</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div id="termine" class="magtxt">
                </div>
                <p>&nbsp; *In der Regel gibt es kein Training während der NRW Schulferien</p>
                <button href="#modal-termine" class="btn btn-success" data-toggle="modal">
                    Alle Termine zeigen
                </button>

            </div>
        </div>
    </div>

</section>
