<section id="championships" class="transwhite">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Kommende Turniere</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

                {% for turnier in site.data.tourniere %}
                    <strong>{{turnier.datum}} : {{turnier.name}} /  {{turnier.text}}</strong> <br>
                {% endfor %}
                Am 07.09.2019 findet das diesjährige Bolingturnier des SC-Aufruhr statt.<br>
                Am 05.10.2019 findet das diesjährige Volleyballturnier des SC-AufRuhr sttt.<br>
                <b><a href="/turniere2019.html"><font color="#0000FF">Weitere Infos zu den Turnieren gbt´s hier</font></a></b>
                <p>&nbsp;</p>            

            </div>

        </div>
    </div>
</section>
