<section id="championships" class="transwhite">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Kommende Turniere</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">

                {% for turnier in site.data.tourniere %}
                    <strong>{{turnier.datum}}  {{turnier.name}}  {{turnier.text}}</strong> <br>
                {% endfor %}
                Nach der Corona-Pause richtet der SC AufRuhr am ersten Februar Wochenende vom 04.02.2022 bis 06.02.2022 wieder den Grubengoldcup Badminton aus. 
                Diesmal habt Ihr die Möglichkeit euch einen Startplatz unverbindlich zu sichern, es gibt eine Voranmeldung! Erst mit dem Abschluss der Registrierung 
                Ende Dezember 2021 ist eine verbindliche Entscheidung zu treffen. Eure Daten könnt Ihr jederzeit mit dem von euch gewählten Kennwort ändern oder euch 
                wieder abmelden.</br></p>
        
        Hier registrieren: <a href="https://grubengoldcup.rlinfo.de">GrubenGold Cup 2022</a></br></p>

               After the Corona break, SC AufRuhr will again host the Grubengoldcup Badminton on the first weekend in February from 04.02.2022 to 06.02.2022. 
               This time you have the possibility to secure a starting place without obligation, there is a pre-registration! A binding decision can be made 
               after the registration has been completed at the end of December 2021. You can change your data at any time with your chosen password or cancel 
               your registration.

                <p>&nbsp;</p>            

            </div>

        </div>
    </div>
</section>
